[Unit]
Description=Log Collector Daemon Service
After=network.target

[Service]
Type=simple
ExecStart=__PYTHON_PATH__ __SCRIPT_PATH__ __LOG_DIRECTORY__ __DESTINATION__
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
